<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="init" 
    default-destroy-method="destroy"
	>
<!--default init method  -->
<!--default destory method  -->

<bean id="setterInjectionService" class="com.payment.spring.domain.xml.SetterInjectionService"
 init-method="init" destroy-method="destroy" 
   scope="prototype"
 >	
 <property name="paymentDao" ref="setterInjectionDao"></property>
</bean>

<bean id="setterInectionDao" class="com.payment.spring.domain.xml.SetterInjectionDAO">
</bean>

<!-- Constructor Injection -->
<bean id="constructorInjectionService" 
   class="com.payment.spring.domain.xml.ConstructorInjectionService"
   scope="singleton"
   init-method="init" destroy-method="destroy"
   lazy-init="true"
   >	
 
</bean>


<!-- Setter Injection -->


<bean id="callBackMethodImpl" class="com.payment.spring.domain.xml.CallBackMethodImpl"
   scope="singleton"
>
</bean>



</beans>